$local-padding: 25px

.wrapper
    @include size(646px, 646px)
    @include rounded-corners
    margin: auto
    background: $bg-color
    border: 1px solid $color-text
    display: flex
    flex-flow: column
    align-items: center
    justify-content: space-between
    padding: $local-padding 0
    position: relative

    .title
        @include font-desktop-label-M-SemiBold

    button
        position: relative
        right: 0

.buttons-wrapper
    display: inline-flex
    width: 100%
    justify-content: space-between
    padding: 0 $local-padding

.sign-in
    display: flex
    flex-flow: column
    justify-content: center
    align-items: center
    gap: 25px
    margin-bottom: 75px