.button, %button
    @include font-button-desktop-regular-SemiBold
    @include rounded-corners
    color: $color-tertiary
    background: $bg-color
    height: 44px
    border: 2px solid $color-tertiary
    padding: 12px 16px


    &:hover
        cursor: default
        
    @include tablet-mobile()
        @include font-button-mobile-regular-SemiBold
        height: 41px

.button-with-symbol, %button-with-symbol
    display: inline-flex
    align-items: center


// mutate only this part for new variants
.button-symbol-left-done
    @extend %button
    @extend %button-with-symbol
    &::before
        @include icon-done-regular($color_hue: green)
        display: inline-flex
        margin-right: 4px


        @include tablet-mobile()
            @include icon-done-small($color_hue: green)