.button, %button
    @include font-button-desktop-regular-SemiBold
    @include rounded-corners
    color: $color-dark-emphasis
    background: $bg-color
    height: 44px
    border: 2px solid $color-dark-emphasis
    padding: 12px 16px


    &:hover
        background: lighten($color-dark-emphasis, 85%)
    &:active
        background: lighten($color-dark-emphasis, 70%)
        
    @include tablet-mobile()
        height: 41px
        @include font-button-mobile-regular-SemiBold

.button-with-symbol, %button-with-symbol
    display: inline-flex
    align-items: center


// mutate only this part for new variants
.button-symbol-left-bookmark
    @extend %button
    @extend %button-with-symbol
    &::before
        @include icon-bookmark-regular($color_hue: dark)
        display: inline-flex
        margin-right: 4px


        @include tablet-mobile()
            @include icon-bookmark-small($color_hue: dark)