.wrapper
    // display: flex
    margin-top: 25px
    width: 80%
    margin-left: auto
    margin-right: auto
    display: flex
    flex-wrap: wrap

    > div:nth-child(1)
        flex-basis: 100%

    .titleWrapper
        width: 80%
        margin-left: auto
        // margin-right: auto

        h1
            display: inline-block
            padding: 8px 12px
            color: $bg-color
            background: $color-title
            font-size: 38px
            font-weight: 600
            letter-spacing: 0.65px
            @include rounded-corners

    .dashboardFilter
        width: 20%
        display: inline-block
        position: relative
        top: 0px

        ul
            display: flex
            flex-direction: column

            li
                display: inline-block
                margin-bottom: 10px

                &:hover
                    cursor: pointer

                &.current
                    font-weight: 600

    .contentWrapper
        width: 80%
        display: inline-block

        > div
            border: 2px solid rgba(187, 187, 187, 0.5)
            padding: 50px
            margin-bottom: 50px
            @include rounded-corners



        .itemsWrapper
            display: flex
            gap: 25px
            margin-top: 25px
            flex-wrap: wrap
            position: relative


            > div
                // min-width: 250px
                // justify-content: normal

                // > span
                //     position: absolute
                //     bottom: 20px

                // > div:nth-of-type(3)
                //     margin-top: 20px

            span
                font-style: italic
                display: flex
                flex-direction: column

                button
                    width: auto !important
                    margin-top: 10px


        .blogsWrapper
            > div
                // display: inline-block !important
                width: 100% !important
                max-width: 320px
                min-width: 200px
                // padding: 35px !important

                > div 
                    > div:nth-child(2)
                        min-width: 200px !important
                    > div:nth-child(4) 
                        > button
                            display: none
                        button
                            margin: 0

            
        

@media screen  and (max-width: 800px)
    .wrapper


        > div:nth-child(2)
            flex-basis: 100%

        .dashboardFilter ul
            flex-direction: row
            flex-wrap: wrap
            
            li
                margin-bottom: 25px
                margin-right: 10px

        .contentWrapper
            width: 100%

@media screen and (max-width: 768px)
    .wrapper .titleWrapper h1
        font-size: 32px

@media screen  and (max-width: 500px)
    .wrapper

        .dashboardFilter ul
            font-size: 14px

@media screen  and (max-width: 500px)
    .wrapper
        width: 90%

        .contentWrapper
            > div
                padding: 25px

@media screen and (max-width: 380px)
    .wrapper
        .contentWrapper .blogsWrapper
            > div > div
                min-width: 150px !important