.overlay
    @include rounded-corners
    position: absolute
    // width: 100%
    // height: 100%
    z-index: 10
    top: -1px
    left: -1px
    bottom: -1px
    right: -1px
    padding-bottom: 45px
    background: $color-overlay-dark
    // box-shadow: 0px 0px 2px $color-overlay-dark
    visibility: hidden
    opacity: 0
    padding: 0 25px
    transition: visibility .2s ease-in-out, opacity .2s ease-in-out

.hovered
    display: flex
    flex-flow: column
    visibility: visible
    opacity: 1

    ul 
        margin: auto auto

        li 
            @include font-button-desktop-regular
            color: $color-on-dark-background
            list-style: none
            align-self: center
            text-transform: capitalize
            padding-bottom: 12px
            


            span
                font-weight: 600
            
            &:nth-child(1)::before
                    @include icon-people-regular(white)
                    position: relative
                    left: 0
                    vertical-align: middle
                    margin-right: 5px
                
            &:nth-child(2)::before
                    @include icon-calendar-regular(white)
                    position: relative
                    left: 0
                    vertical-align: middle
                    margin-right: 5px
                    