$color-primary: #054499;

$color-primary-lightened: #1f70dd;

$color-text: #736e77;

$color-secondary: #ffb730;

$color-secondary-lightened: #ffc75e;

$color-secondary-darker: #dd9a1e;

$color-tertiary: #13ba92;

$color-error: #ff4242;

$color-title: #111111;

$color-dark-emphasis: #111111;

$color-outline: #79747e;

$color-outline-card: rgba(187, 187, 187, 0.5);

$color-on-primary: #ffffff;

$color-on-secondary: #111111;

$color-on-tertiary: #ffffff;

$color-on-error: #ffffff;

$color-on-dark-background: #ffffff;

$color-gradient-pink-orange: linear-gradient(
	74.56deg,
	#ff66cc -92.33%,
	#ffb730 73.11%
);

$color-gradient-pink-orange-emphasis: linear-gradient(
	188.7deg,
	#ff33bb -181.62%,
	#ff9a1a 142.86%
);

$color-button-primary-hovered: #3189ff;

$color-overlay-dark: rgba(0, 0, 0, 0.9);

$bg-color-dark: #424242;

$bg-color-card: #ffffff;

$bg-color: #fffdf8;

$bg-color-surface-variant: #e7e0ec;

$bg-color-surface-10perc-darker: #cec0d8;

$bg-color-surface-5perc-lighter: #f3eff5;
