@mixin icon-regular-size
    width: 24px
    height: 24px

@mixin icon-small-size
    width: 20px
    height: 20px

@mixin icon-big-size
    width: 44px
    height: 44px

@mixin icon-more-emphasis-color
    //color: #111
    filter: invert(0%) sepia(1%) saturate(57%) hue-rotate(221deg) brightness(121%) contrast(87%)

@mixin icon-less-emphasis-color
    //color: #736E77
    filter: invert(46%) sepia(12%) saturate(225%) hue-rotate(230deg) brightness(91%) contrast(87%)

@mixin icon-algorithm-big
    background: inline-image('icons/icon-algorithm-big.svg')
    @include icon-big-size
    @include icon-less-emphasis-color

@mixin icon-arrow_diagonal-regular
    background: inline-image('icons/icon-arrow_diagonal-regular.svg')
    @include icon-regular-size
    @include icon-more-emphasis-color

@mixin icon-arrow-diagonal-small
    background: inline-image('icons/icon-arrow_diagonal-small.svg')
    @include icon-small-size
    @include icon-more-emphasis-color

@mixin icon-article-regular
    background: inline-image('icons/icon-article-regular.svg')
    @include icon-regular-size

@mixin icon-book-big
    background: inline-image('icons/icon-book-big.svg')
    @include icon-big-size
    @include icon-less-emphasis-color

@mixin icon-bookmark-regular
    background: inline-image('icons/icon-bookmark-regular.svg')
    @include icon-regular-size
    @include icon-more-emphasis-color


@mixin icon-bookmark-small
    background: inline-image('icons/icon-bookmark-small.svg')
    @include icon-small-size
    @include icon-more-emphasis-color

@mixin icon-calendar-regular
    background: inline-image('icons/icon-calendar-regular.svg')
    @include icon-regular-size
    @include icon-more-emphasis-color


@mixin icon-calendar-small
    background: inline-image('icons/icon-calendar-small.svg')
    @include icon-small-size
    @include icon-more-emphasis-color

@mixin icon-camera-big
    background: inline-image('icons/icon-camera-big.svg')
    @include icon-big-size
    @include icon-less-emphasis-color

@mixin icon-course-free-regular
    background: inline-image('icons/icon-course-free-regular.svg')
    @include icon-regular-size

@mixin icon-course-payed-regular
    background: inline-image('icons/icon-course-payed-regular.svg')
    @include icon-regular-size

@mixin icon-crypto-big
    background: inline-image('icons/icon-crypto-big.svg')
    @include icon-big-size
    @include icon-less-emphasis-color

@mixin icon-design-big
    background: inline-image('icons/icon-design-big.svg')
    @include icon-big-size
    @include icon-less-emphasis-color

@mixin icon-done-regular
    background: inline-image('icons/icon-done-regular.svg')
    @include icon-regular-size
    @include icon-more-emphasis-color

@mixin icon-done-small
    background: inline-image('icons/icon-done-small.svg')
    @include icon-small-size
    @include icon-more-emphasis-color

@mixin icon-eye-regular
    background: inline-image('icons/icon-eye-regular.svg')

@mixin icon-eye-small
    background: inline-image('icons/icon-eye-small.svg')
    @include icon-small-size
    @include icon-more-emphasis-color

@mixin icon-google-regular
    background: inline-image('icons/icon-google-regular.svg')
    @include icon-regular-size

@mixin icon-joystick-big
    background: inline-image('icons/icon-joystick-big.svg')
    @include icon-big-size
    @include icon-less-emphasis-color

@mixin icon-people-regular
    background: inline-image('icons/icon-people-regular.svg')
    @include icon-regular-size
    @include icon-more-emphasis-color


@mixin icon-people-small
   background-image: url('/icons/icon-people-small.svg')
    @include icon-small-size
    @include icon-more-emphasis-color

@mixin icon-play_arrow-regular
    background: inline-image('icons/icon-play_arrow-regular.svg')
    @include icon-regular-size
    @include icon-more-emphasis-color


@mixin icon-play_arrow-small
    background: inline-image('icons/icon-play_arrow-small.svg')
    @include icon-small-size
    @include icon-more-emphasis-color

@mixin icon-search-regular
    background: inline-image('icons/icon-search-regular.svg')
    @include icon-regular-size
    @include icon-more-emphasis-color

@mixin icon-search-small
    background: inline-image('icons/icon-search-small.svg')
    @include icon-small-size
    @include icon-more-emphasis-color

@mixin icon-stats-big
    background: inline-image('icons/icon-stats-big.svg')
    @include icon-big-size
    @include icon-less-emphasis-color

@mixin icon-stats-regular
    background: inline-image('icons/icon-stats-regular.svg')
    @include icon-regular-size
    @include icon-more-emphasis-color

@mixin icon-stats-small
    background: inline-image('icons/icon-stats-small.svg')
    @include icon-small-size
    @include icon-more-emphasis-color

@mixin icon-time-regular
    background: inline-image('icons/icon-time-regular.svg')
    @include icon-regular-size
    @include icon-more-emphasis-color


@mixin icon-time-small
    background: inline-image('icons/icon-time-small.svg')
    @include icon-small-size
    @include icon-more-emphasis-color

@mixin icon-video_tape-big
    background: inline-image('icons/icon-video_tape-big.svg')
    @include icon-big-size
    @include icon-less-emphasis-color

@mixin icon-web_laptop-big
    background: inline-image('icons/icon-web_laptop-big.svg')
    @include icon-big-size
    @include icon-less-emphasis-color

@mixin icon-youtube-regular
    background: inline-image('icons/icon-youtube-regular.svg')
    @include icon-regular-size

