@font-face {
	font-family: "Redwing-Medium";
	src: url("/fonts/Redwing-Medium.woff2") format("woff2"),
		url("/fonts/Redwing-Medium.woff") format("woff"),
		url("/fonts/Redwing-Medium.ttf") format("truetype");
}

@import "_reset.css";
@import "_normalize.css";

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	background: #fffdf8;
}

body {
	overflow-x: hidden;
}

input:focus {
	outline: none;
	box-shadow: 1px 1px 7px rgba(31, 112, 221, 0.5);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
