.button, %button
    @include font-button-desktop-regular-SemiBold
    @include button-default-size
    @include button-default-style
    @include shadow-12dp-ambient
    text-transform: capitalize
    transition: background .3s ease-in-out, color .3s ease-in-out

    &:hover
        background: $color-button-primary-hovered
    &:active
        background: $color-primary-lightened
        
    // @include tablet-mobile()
        // @include font-button-mobile-regular-SemiBold

.button-with-symbol, %button-with-symbol
    position: relative
    display: inline-flex
    align-items: center
    height: 44px

    @include tablet-mobile()
        height: 41px

// mutate only this part for new variants
.button-symbol-left-bookmark
    padding-left: 40px

    @include tablet-mobile()
        padding-left: 36px
    &::before
        @include icon-bookmark-regular($color_hue: white)

        @include tablet-mobile()
            @include icon-bookmark-small($color_hue: white)

.button-symbol-right-start
    @extend %button
    @extend %button-with-symbol
    // background: $color-tertiary
    background: $color-primary-lightened
    justify-content: center

    &:hover
        // background: $color-tertiary
        background: $color-button-primary-hovered

        &::after
            transform: translate3d(2px,-2px,0)

    &:active
        // background: $color-tertiary
        background: $color-primary-lightened


    &::after
        @include icon-arrow_diagonal-regular($color_hue: white)
        position: relative
        left: 4px
        transition: transform .2s ease-in-out

        @include tablet-mobile()
            @include icon-arrow_diagonal-small($color_hue: white)
            position: relative
            left: 4px

.button-symbol-right-resume
    @extend %button
    @extend %button-with-symbol
    background: $color-secondary
    justify-content: center
    color: $color-dark-emphasis

    &:hover
        background: $color-secondary

        &::after
            transform: translate3d(2px, 0px, 0px)
    &:active
        background: $color-secondary

    @include tablet-mobile()
    &::after
        @include icon-play_arrow-regular($color_hue: dark)
        position: relative
        left: 4px
        transition: transform .2s ease-in-out
        

        @include tablet-mobile()
            @include icon-play_arrow-small($color_hue: dark)
            position: relative
            left: 4px


.button-symbol-right-completed
    @extend %button
    @extend %button-with-symbol
    background-color: $bg-color-card
    justify-content: center
    color: $color-tertiary
    border: 2px solid $color-tertiary

    &:hover
        background: $bg-color-card
        cursor: default

    &:active
        background: $bg-color-card

    @include tablet-mobile()
    &::after
        @include icon-stats-regular($color_hue: green)
        position: relative
        left: 4px
        
        @include tablet-mobile()
            @include icon-stats-small($color_hue: green)
            position: relative
            left: 4px

.button-mark-as-completed
    // add here
    font-size: 14px
    font-weight: 600
    background-color: $color-tertiary
    padding: 4px 8px

.button-restart
    @extend %button
    @extend %button-with-symbol
    // background: $color-tertiary
    background: $color-primary-lightened
    justify-content: center

    &:hover
        // background: $color-tertiary
        background: $color-button-primary-hovered

        &::after
            transform: translate3d(2px,-2px,0)

    &:active
        // background: $color-tertiary
        background: $color-primary-lightened


    &::after
        @include icon-arrow_diagonal-regular($color_hue: white)
        position: relative
        left: 4px
        transition: transform .2s ease-in-out

        @include tablet-mobile()
            @include icon-arrow_diagonal-small($color_hue: white)
            position: relative
            left: 4px

.button-hide
    @extend %button
    visibility: hidden